#map {
    height: 500px;
    width: 700px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container  {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 500px;
}

.homeContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: tan;
    border-radius: 30px;
    text-align: center;
}


.homeContainer > button {
    position: relative;
    display: block;
    height: 25vh;
    width: 90%;
    margin: 20px;
    font-size: 5vh;
    top: 10vh;
    background-color: #9932CC;
    color: white;
    border-radius: 30px;
}

.homeContainer > h1 {
    position: relative;
    top: 5%;
    color: red;
}
